.product-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 634px;
  height: 298px;
  margin-bottom: 20px;
}

.product_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.product-name p {
  color: rgb(126, 135, 148);
  font-size: 18px;
  font-weight: 400;
}

.product-name h1 {
  color: rgb(15, 17, 19);
  font-size: 24px;
  font-weight: 600;
}

.product-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-icons button {
  border: 1px solid rgb(242, 245, 249);
  border-radius: 10px;
  background: rgb(239, 235, 235);
  max-width: 42px;
  max-height: 42px;
}

.accessory-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-img {
  max-width: 210px;
  max-height: 210px;
}

.product-img img {
  width: 100%;
  height: 100%;
}

.phone-characters {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.phone-characters p {
  color: rgb(126, 135, 148);
  font-size: 18px;
  font-weight: 400;
}

.lines {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.lines hr {
  width: 88px;
  height: 4px;
  border: none;
  background: rgb(169, 170, 171);
}

.selected {
  background-color: #ff4d4d;
}
