.header-content {
  margin-top: 34px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-content {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 11px;
}

.logo-title {
  font-weight: 700;
  font-size: 34px;
}

.slogan-header {
  white-space: nowrap;
}

.find-content {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.sort-filter-btn {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 16px 20px;
  font-size: 20px;
  background: #ff4d4d;
  color: #f0f8ff;
  border: none;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;
  white-space: nowrap;
}

.vector {
  max-height: 5px;
  margin-left: 13px;
}

.findInput {
  width: 641px;
  height: 52px;
  padding: 14px 20px 14px 20px;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid rgb(209, 209, 210);
  background: rgb(242, 245, 249);
  color: rgb(161, 171, 185);
  font-size: 16px;
  font-weight: 400;
}

.header_btns {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.header_btns button {
  width: 52px;
  height: 52px;
  padding: 14px;
  border-radius: 8px;
  border: none;
  background: rgb(242, 245, 249);
}

.header_btns-img {
  width: 21.5px;
  height: 19.3px;
}

@media screen and (max-width: 1752px) {
  .header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .logo-content,
  .header_btns {
    order: 1;
  }
  .find-content {
    padding-top: 20px;
    order: 2;
    margin: 0 auto;
  }
  .findInput {
    width: 791px;
  }
}

@media screen and (max-width: 1421px) {
  .findInput {
    max-width: 659px;
  }
}

@media screen and (max-width: 1205px) {
  .findInput {
    max-width: 559px;
  }
}

@media screen and (max-width: 949px) {
  .findInput {
    max-width: 459px;
  }
}

@media screen and (max-width: 889px) {
  .findInput {
    width: 343px;
    height: 52px;
  }
  .header_btns {
    display: none;
  }
  .logo-content {
    display: flex;
    gap: 30px;
  }
}
