* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.product-info-content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.route {
  margin-top: 24px;
}

.route a {
  color: rgb(15, 17, 19);
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
  text-decoration: none;
  margin-right: 10px;
}

.route a:visited {
  color: rgb(161, 171, 185);
  font-size: 16px;
  font-weight: 400;
}

.phone-character_content {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.phone-img {
  max-width: 710px;
  max-height: 710px;
}

.phone-character_info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.phone-character_head {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.phone-character_head-bottom {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.phone-character-title {
  color: rgb(15, 17, 19);
  font-size: 24px;
  font-weight: 600;
}

.rating {
  color: #00ff00;
}

.phone-characters {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.phone-characters p {
  color: rgb(126, 135, 148);
  font-size: 18px;
  font-weight: 400;
}

.lines {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

.lines hr {
  width: 88px;
  height: 4px;
  border: none;
  background: rgb(169, 170, 171);
}

.selected {
  background-color: #ff4d4d;
}

.crown {
  color: rgb(38, 49, 65);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post {
  color: #00ff00;
}

.chart {
  width: 44px;
  height: 44px;
}

.slider {
  position: relative;
  width: 670px;
  height: 8px;
  background: linear-gradient(
    90deg,
    rgb(209, 48, 48),
    rgb(255, 255, 255) 50.057%,
    rgb(48, 209, 112) 100%
  );
  border-radius: 4px;
}

.slider input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background: transparent;
  z-index: 1;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #d13030;
  cursor: pointer;
  margin-top: -4px;
  z-index: 2;
}

.slider input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #d13030;
  cursor: pointer;
}

.slider input[type="range"]::-ms-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ffffff;
  border: 2px solid #d13030;
  cursor: pointer;
}

.product-configuration {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 46px;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
}

.color-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.color-option {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.color-box {
  width: 32px;
  height: 32px;
  border: 2px solid rgb(220, 222, 223);
  border-radius: 8px;
}

.memory-section {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.memory-option {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.memory-button {
  border: 2px solid rgb(231, 224, 224);
  border-radius: 8px;
  background: #f6f3f3;
  padding: 10px;
}

.memory-button:hover {
  border: 2px solid rgb(255, 77, 77);
}

.phone-character-btns {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
}

.phone-character-btns button {
  width: 147px;
  font-size: 16px;
  background: rgb(255, 77, 77);
  color: #f6f3f3;
  font-weight: 400;
  height: 56px;
  border: none;
}

.phone-character-btns button:hover {
  background: rgb(255, 238, 238);
  color: #d13030;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: rgba(15, 17, 19, 1);
}

.feature-container {
  display: flex;
  flex-direction: row;
}

.feature {
  padding: 8px;
  background-color: rgba(245, 247, 250, 1);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: 16px;
  line-height: 20px;
  color: rgba(126, 135, 148, 1);
}

.value {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: rgba(38, 49, 65, 1);
}


.icon {
  padding: 7px;
  width: 20px;
  height: 20px;
}

.arrow {
  width: 13.17px;
  height: 7.33px;
  background-color: rgba(127, 58, 69, 0.5);
  border-radius: 8px;
  border-color: rgba(255, 77, 77, 1);
  border-width: 1.5px;
  border-style: solid;
}

.description-div {
  width: 710px;
  height: 400px;
}

.charts-block {
  width: 710px;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  border-color: rgba(242, 245, 249, 1);
  border-width: 1px;
  border-style: solid;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: rgba(38, 49, 65, 1);
}

.chartContainer {
  height: 205px;
}

.monthLabels {
  width: 710px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.monthLabel {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(38, 49, 65, 1);
}

.grid-charts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
  grid-template-rows: auto auto;
  gap: 20px;
}

.grid-item {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid rgba(242, 245, 249, 1);
}

.grid-item .chart-container {
  width: 100%;
  height: 200px;
}

.grid-item .additional-info {
  text-align: center;
  margin-top: 20px;
}

.grid-item .price {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}

.grid-item .delivery-status {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: rgba(48, 209, 112, 1);
}

.grid-item .discount {
  background-color: rgba(253, 253, 253, 0.6);
  border-radius: 8px;
  padding: 4px 12px;
  display: inline-block;
  margin-top: 20px;
}

.grid-item .discount p {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(48, 209, 112, 1);
}

.grid-item button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
  color: rgba(255, 77, 77, 1);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.comments-bar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
  grid-template-rows: auto auto;
  gap: 20px;
}

.row {
  margin: 40px 0 40px -40px;
}
