.product-card {
  max-width: 272px;
  max-height: 346px;
  padding: 20px;
}

.product-img {
  max-width: 232px;
  min-height: 156px;
}

.product-img img {
  width: 100%;
  height: 100%;
}

.product-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-type {
  color: #7e8794;
  font-size: 14px;
  font-weight: 400;
}

.product-name {
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.price-box p {
  font-size: 16px;
  font-weight: 400;
}

.price-box h1 {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.product-card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon-box {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.icon-box button {
  width: 44px;
  padding: 10px;
  height: 44px;
  box-sizing: border-box;
border: 1px solid rgb(199, 201, 205);
border-radius: 11px;
background: rgb(253, 253, 253);
}

.icon-box img{
  width: 100%;
  height: 100%;
}
